<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Caltech's Centennial Rose Parade Float"

>
  <image imageURL="images/logo Archives FB.jpg"
	thumbURL="thumbs/logo Archives FB.jpg"
	linkURL="images/logo Archives FB.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\logo Archives FB.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8.jpg"
	thumbURL="thumbs/8.jpg"
	linkURL="images/8.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\8.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbs/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6.jpg"
	thumbURL="thumbs/6.jpg"
	linkURL="images/6.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7.jpg"
	thumbURL="thumbs/7.jpg"
	linkURL="images/7.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\7.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/22 new paint.jpg"
	thumbURL="thumbs/22 new paint.jpg"
	linkURL="images/22 new paint.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Web site\Dreamweaver-website\exhibits\rose_parade_1991\images\22 new paint.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/9 NewtonMaking.jpg"
	thumbURL="thumbs/9 NewtonMaking.jpg"
	linkURL="images/9 NewtonMaking.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\9 NewtonMaking.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/10.jpg"
	thumbURL="thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\10.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/21 newton adj.jpg"
	thumbURL="thumbs/21 newton adj.jpg"
	linkURL="images/21 newton adj.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\21 newton adj.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/clock.jpg"
	thumbURL="thumbs/clock.jpg"
	linkURL="images/clock.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\clock.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/newton whole.jpg"
	thumbURL="thumbs/newton whole.jpg"
	linkURL="images/newton whole.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\newton whole.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/25 front.jpg"
	thumbURL="thumbs/25 front.jpg"
	linkURL="images/25 front.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\25 front.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/28 whole.jpg"
	thumbURL="thumbs/28 whole.jpg"
	linkURL="images/28 whole.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\28 whole.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/29 tail.jpg"
	thumbURL="thumbs/29 tail.jpg"
	linkURL="images/29 tail.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\29 tail.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Caltech 1891.jpg"
	thumbURL="thumbs/Caltech 1891.jpg"
	linkURL="images/Caltech 1891.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\Caltech 1891.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/beaver.jpg"
	thumbURL="thumbs/beaver.jpg"
	linkURL="images/beaver.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\Rose parade small\beaver.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/last full.jpg"
	thumbURL="thumbs/last full.jpg"
	linkURL="images/last full.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Rose Parade 1190\last full.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>